<thead>
    <tr>
        <th style="background-color: #b8b6b6;">Name</th>
        <th class="center aligned" style="background-color: #b8b6b6;"> </th>
    </tr>
</thead>
<tbody class="fixed sticky">
    {{#each procedure}}
        <tr>
            <td>{{processname}}</td>
            <td class="center aligned">
                <button class="ui button" data-id="{{_id}}" data-name="{{processname}}">Edit</button>
                <button class="negative ui button" data-id="{{_id}}" data-name="{{processname}}">Delete</button>
            </td>
        </tr>
    {{/each}}
</tbody>