<thead>
    <tr>
        <th style="background-color: #b8b6b6; cursor: pointer; width: 25%"><i class="sort icon"></i>&nbsp;&nbsp;Username</th>
        <th style="background-color: #b8b6b6; cursor: pointer; width: 25%"><i class="sort icon"></i>&nbsp;&nbsp;Account Type</th>
        <th style="background-color: #b8b6b6; cursor: pointer; width: 25%"><i class="sort icon"></i>&nbsp;&nbsp;Last Login</th>
        <th class="center aligned" style="background-color: #b8b6b6; width: 25%"> </th>
    </tr>
</thead>
<tbody class="fixed sticky">
    {{#each user}}
        <tr>
            <td>{{username}}</td>
            <td>{{accountType}}</td>
            <td>{{lastLogin}}</td>
            <td class="center aligned">
                <button class="ui button" data-id="{{_id}}" data-username="{{username}}" data-status="{{status}}">Edit</button>
                <button class="negative ui button" data-id="{{_id}}" data-username="{{username}}" data-type="{{accountType}}">Delete</button>
            </td>
        </tr>
    {{/each}}
</tbody>    