{{#each sched}}
    <tr>
        <td>{{name}}</td>
        <td>{{time}}</td>
        <td class="center aligned">
            <i class="large edit icon link" style="margin-right: 15px" data-id="{{_id}}" data-name="{{name}}" data-time="{{time}}" id="edit-schedule"></i>
            <i class="large trash icon link" data-id="{{_id}}" data-name="{{name}}" data-time="{{time}}" id="delete-schedule"></i>
        </td>
    </tr>
{{/each}}