{{!-- {{#each appointments.[6]}}
<tr>
    <td colspan="14">
        <span class="ui large text">
            <b>{{firstname}} {{lastname}}</b>
        </span>
        <div class="ui medium text" style="color:#b5b5b5">
            {{patientcontact}} 
            <br>
            {{#each process}}
            {{processname}}
            {{/each}}
        </div>
        
    </td>
</tr>
{{/each}} --}}

{{#each data}}
    <tr class="row-date">
        <td colspan="1" class="center aligned">
            <span>{{dayCaps}}</span>
            {{#ifEquals dayCaps "SUN"}}
                <a class="anchor" id="one"></a>
            {{/ifEquals}}
            {{#ifEquals dayCaps "MON"}}
                <a class="anchor" id="two"></a>
            {{/ifEquals}}
            {{#ifEquals dayCaps "TUE"}}
                <a class="anchor" id="three"></a>
            {{/ifEquals}}
            {{#ifEquals dayCaps "WED"}}
                <a class="anchor" id="four"></a>
            {{/ifEquals}}
            {{#ifEquals dayCaps "THU"}}
                <a class="anchor" id="five"></a>
            {{/ifEquals}}
            {{#ifEquals dayCaps "FRI"}}
                <a class="anchor" id="six"></a>
            {{/ifEquals}}
            {{#ifEquals dayCaps "SAT"}}
                <a class="anchor" id="seven"></a>
            {{/ifEquals}}
        </td>
        <td colspan="13" class="borderless-column">
            <span>{{dateShort}}</span>
        </td>
    </tr>
    {{!-- start of dummy data --}}
    <tr class="appointment-row">
        <td colspan="1" class="center aligned details-row">
            TIME    
        </td>
        <td colspan="13">
            APPOINTMENT DETAILS
        </td>
    </tr>
    <tr class="appointment-row">
        <td colspan="1" class="center aligned details-row">
            TIME    
        </td>
        <td colspan="13">
            APPOINTMENT DETAILS
        </td>
    </tr>
    <tr class="appointment-row">
        <td colspan="1" class="center aligned details-row">
            TIME    
        </td>
        <td colspan="13">
            APPOINTMENT DETAILS
        </td>
    </tr>
    {{!-- end of dummy data --}}
    {{!-- {{#each appointment}}
        <tr class="appointment-row">
            <td colspan="1" class="center aligned details-row">
                TIME    
            </td>
            <td colspan="13">
                APPOINTMENT DETAILS
            </td>
        </tr>
    {{/appointment}} --}}
{{/each}}
