{{!-- {{#each data}} --}}
<tr class="row-date">
    <td colspan="14">
        <span class="ui black text">SUN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sun}}</span>
        <a class="anchor" id="one"></a>
    </td>
</tr>
{{#each appointments.[6]}}
<tr>
    <td colspan="14">
        <span class="ui large text">
            <b>{{firstname}} {{lastname}}</b>
        </span>
        <div class="ui medium text" style="color:#b5b5b5">
            {{patientcontact}} 
            <br>
            {{#each process}}
            {{processname}}
            {{/each}}
        </div>
        
    </td>
</tr>
{{!-- <tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr> --}}
{{/each}}
<tr class="row-date">
    <td colspan="14">
        <span class="ui black text">MON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mon}}</span>
        <a class="anchor" id="two"></a>
    </td>
</tr>


<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr class="row-date">
    <td colspan="14">
        <span class="ui black text">TUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tue}}</span>
        <a class="anchor" id="three"></a>
    </td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr class="row-date">
    <td colspan="14">
        <span class="ui black text">WED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{wed}}</span>
        <a class="anchor" id="four"></a>
    </td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr class="row-date">
    <td colspan="14">
        <span class="ui black text">THU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{thu}}</span>
        <a class="anchor" id="five"></a>
    </td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td>
</tr>
<tr class="row-date">
    <td colspan="14">
        <span class="ui black text">FRI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{fri}}</span>
        <a class="anchor" id="six"></a>
    </td>
</tr>
<tr>
    <td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;{{appointments.1.7.1._id}}</td>
</tr>

{{!-- <tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr>
<tr><td colspan="14">&nbsp;&nbsp;&nbsp;&nbsp;DATA</td></tr> --}}
<tr class="row-date">
    <td colspan="14">
        <span class="ui black text">SAT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sat}}</span>
        <a class="anchor" id="seven"></a>
    </td>
</tr>

{{!-- {{#each weekAppointments}}
    <td colspan="2" class="center aligned daily appointment cell">
        <table class="ui very basic compact fixed structured unstackable table single line {{{maxify ../max num }}}"
            id="slots-table">
            <tbody>
                {{#each appointments}}
                <tr>
                    <td class="center aligned {{weekBlue @index}}">  
                        <div class="hoverable swa">
                            <h5 class="header">{{firstname}} {{lastname}}</h5>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </td>
    {{/each}} --}}

{{!-- {{/each}} --}}