{{#each this}}
    {{#if chosen}}
        <div class="column center aligned">
            <div class="ui small header dates smaller-marbottom">{{day}}</div>
            <a class="ui small blue circular button" id={{day}}>{{date}}</a>
        </div>
    {{else}} 
        {{#if today}}
            <div class="column center aligned">
                <div class="ui small header dates smaller-marbottom">{{day}}</div>
                <a class="ui small blue basic circular button" id={{day}}>{{date}}</a>
            </div>
        {{else}}
            <div class="column center aligned">
                <div class="ui small header dates smaller-marbottom">{{day}}</div>
                <a class="ui small tertiary button" id={{day}}>{{date}}</a>
            </div>
        {{/if}}
    {{/if}}
{{/each}}