<div class="ui center aligned header">
    DR. {{doctor.firstname}} {{doctor.lastname}} - {{displayDate}}
</div>
<table class="ui celled table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Availability</th>
            <th>Time</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        {{#each row}}
        <tr>
            <td>{{timeSlot1}}</td>
            <td class="{{isAvailableDayColor available1}} sam"
                {{#iff available1 '==' 'available'}}onclick="quickAddAvailability('{{../date}}', '{{timeSlot1}}','{{../doctor._id}}')"
                {{/iff}}>
                {{isAvailableDayText available1}}</td>
            <td>{{timeSlot2}}</td>
            <td class="{{isAvailableDayColor available2}} sam"
                {{#iff available2 '==' 'available'}}onclick="quickAddAvailability('{{../date}}', '{{timeSlot2}}','{{../doctor._id}}')"
                {{/iff}}>{{isAvailableDayText available2}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>