<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header" id="filter-heading-title">Weekly Appointments</div>
    </td>
</tr>
{{#each data}}
<tr class="slot in week">
    <td class="center aligned">
        <span class="ui black text">{{slot}}</span>
    </td>
    {{#each weekAppointments}}
    <td colspan="2" class="center aligned daily appointment cell">
        <table class="ui very basic compact fixed structured unstackable table single line {{{maxify ../max num }}}"
            id="slots-table">
            <tbody>
                {{#each appointments}}
                <tr class="hoverable swo" date='{{date}}'>
                    <td class="center aligned {{weekYellow @index}}" onclick="openDetailsModal('{{_id}}', '{{date}}')">
                        <h5 class="header">{{firstname}} {{lastname}}</h5>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </td>
    {{/each}}
</tr>
{{/each}}