<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header">Daily Appointments of Dr. {{doctor.lastname}}</div>
    </td>
</tr>
{{#each data}}
<tr>
    <td id="timeSlotDayOne" class="center aligned tsdo" class="center aligned" onclick="quickAdd('{{slot}}')">
        <span class="ui black text" data-id="{{slot}}">{{slot}}</span>
    </td>
    <td colspan="14" class="center aligned daily appointment cell">
        <table class="ui large basic compact fixed celled structured unstackable table" id="slots-table">
            <tbody>
                {{#each appointments}}
                <td class="left aligned {{colorcells @index}} side colored colored colored colored strip" onclick="openDetailsModal('{{_id}}')" >
                    <h3 class="ui header">
                        {{firstname}} {{lastname}}<br>
                    </h3>
                    
                    
                    <div class="ui medium text">
                        📱:{{patientcontact}} <br>

                        🦷:{{#each process}}
                            {{commafy @index}}{{processname}}
                        {{/each}}
                    </div>
                    <div class="ui medium text">
                        👨‍⚕️:{{#each doctor}}
                            {{commafy @index}}Dr. {{lastname}}
                        {{/each}}
                    </div>
                </td>
                {{/each}}
            </tbody>
        </table>
    </td>
</tr>
{{/each}}