<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header">Weekly Appointments</div>
    </td>
</tr>
{{#each data}}
<tr class="slot in week">
    <td class="center aligned">
        <span class="ui black text">{{slot}}</span>
    </td>
    {{#each weekAppointments}}
    <td colspan="2" class="center aligned daily appointment cell" >
        <table class="ui very basic compact fixed structured unstackable table single line {{{maxify ../max num }}}" id="slots-table">
            <tbody>
                {{#each appointments}}
                <tr class="hoverable swa" date='{{date}}'>

                    <td class="center aligned {{weekBlue @index}}"  onclick="openDetailsModal('{{_id}}', '{{date}}')">  
                        {{!-- onclick="openDetailsModal('{{_id}}')" --}}
                        <div >
                            <h5 class="header">{{firstname}} {{lastname}}</h5>
                        </div>

                        {{!-- <div class="ui popup basic">
                            <div class="ui one column grid">
                                <h4 class="ui header">{{firstname}} {{lastname}}</h4>
                                <div class="column left aligned">📱:{{patientcontact}}</div>
                                <div class="column left aligned">
                                    🦷:{{#each process}}{{commafy @index}}{{processname}}{{/each}}</div>
                                <div class="column left aligned">👨‍⚕️:{{#each doctor}}
                                    {{commafy @index}}Dr.{{lastname}}{{/each}}
                                </div>
                            </div>
                        </div> --}}
                    </td>



                </tr>

                {{/each}}
            </tbody>
        </table>
    </td>
    {{/each}}
</tr>
{{/each}}