<tr>
    <td colspan="15" class="center aligned">
        <div class="ui header" id="filter-heading-title">Unavailable Doctors</div>
    </td>
</tr>
{{#each data}}
<tr class="slot in week">
    <td class="center aligned">
        <span class="ui black text">{{slot}}</span>
    </td>
    {{#each weekUnavailable}}
        <td colspan="2" class="center aligned daily appointment cell">
            <table class="ui very basic compact fixed structured unstackable table single line {{{maxify ../max num }}}" id="slots-table">
                <tbody>
                    {{#each doctors}}
                        <tr>
                            <td class="center aligned {{weekRed @index}}">
                                <h5 class="header">{{firstname}} {{lastname}}</h5>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </td>
    {{/each}}
</tr>
{{/each}}


