{{#each doctors}}
<tr>
    <td colspan="1" class="center aligned" height="75px">
        Dr. {{firstname}} {{lastname}}
    </td>
    {{#each availability}}
    <td colspan="2" class="sa center aligned {{isAvailableDayColor this.[1]}}" height="75px"
        {{#iff this.[1] '==' 'available'}} onclick="checkAvailableTime('{{this.[0]}}', '{{../_id}}')" {{/iff}}>
        {{isAvailableDayText this.[1]}}
    </td>
    {{/each}}
</tr>
{{/each}}