<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secretary Week View All Appointments</title>
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/secretary_view.css">
</head>

<body>
    <div class="ui top fixed sticky borderless menu" id="main-menu">
        <div class="item ">
            <div class="ui calendar" id="standard_calendar">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time">
                </div>
            </div>
        </div>
        <div class="item ">
            <button class="ui basic button" id="today">
                TODAY
            </button>
        </div>
        <div class="item ">
            <div class="ui icon basic buttons">
                <button class="ui button" id="prev-button">
                    <i class="angle left icon"></i>
                </button>
                <button class="ui button" id="next-button">
                    <i class="angle right icon"></i>
                </button>
            </div>
        </div>
        <div class="item ">
            <span class="ui large text" id="focus-date-header">
            </span>
        </div>
        <div class="right borderless menu">
            <div class="item">
                <div class="ui fluid selection dropdown" id="view-chooser">
                    <input type="hidden" name="view">
                    <div class="default text">View</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="day-view">DAY</div>
                        <div class="item" data-value="week-view">WEEK</div>
                    </div>
                </div>
            </div>
            <div class="ui item">
                <div class="ui selection very long dropdown" id="filter-dropdown">
                    <div class="default text">Filter</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="all">APPOINTMENTS
                        </div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            <span class="text">DOCTORS</span>
                            <div class="menu">
                                <div class="item docs-avail" data-value="unav">UNAVAILABLE</div>
                                <div class="item docs-avail" data-value="av">AVAILABLE</div>
                                {{#each doctor}}
                                    <div class="item" data-value="{{_id}}">Dr. {{lastname}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item ">
                <i id="logoutButton" class="large sign out icon link"></i>
            </div>
        </div>
    </div>
    <div class="ui fluid container" id="schedule-table">
        <table class="ui basic compact fixed celled structured unstackable table main">
            <thead id="the-header">

            </thead>
            <tbody id="the-body">

            </tbody>



        </table>
    </div>
    <div class="ui active inverted  dimmer">
        <div class="ui elastic massive green loader"></div>
    </div>


    {{!-- 
    POPUP code for Adding
 --}}
    <div id="add-appointment-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Appointment
        </div>
        <div class="ui form">
            <div class="ui very padded grid">
                <div class="six wide column">
                    <div class="required field" id="add-fieldFirstName">
                        <label>First Name</label>
                        <input type="text" name="firstName" id="add-firstName" placeholder="First Name">
                    </div>
                    <div class="required field" id="add-fieldLastName">
                        <label>Last Name</label>
                        <input type="text" name="lastName" id="add-lastName" placeholder="Last Name">
                    </div>
                    <div class="field" id="add-fieldContact">
                        <label>Contact</label>
                        <input type="text" name="contact" id="add-contact" placeholder="Phone">
                    </div>
                    <div class="required field" id="add-fieldDateCalendar">
                        <label>Date</label>
                        <div class="ui calendar" id="add-date_calendar">
                            <div class="ui fluid input left icon">
                                <i id="calendaricon" class="calendar icon"></i>
                                <input type="text" id="add-dateInput" name="dateInput" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="required field" id="add-fieldTimeCalendar">
                        <label>Time</label>
                        <div class="ui calendar" id="add-time_calendar">
                            <div class="ui fluid input left icon">
                                <i class="time icon"></i>
                                <input type="text" id="add-timeInput" name="timeInput" placeholder="Time">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="required field" id="add-fieldDoctors">
                        <label>Doctor(s)</label>
                        <select name="doctors" class="ui fluid selection very long dropdown" multiple=""
                            id="add-multiDoctor">
                            <option value="">Doctor(s)</option>
                            {{#each doctor}}
                                <option value="{{_id}}">Dr. {{lastname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="required field" id="add-fieldProcedures">
                        <label>Procedure(s)</label>
                        <select name="procedures" class="ui fluid selection very long dropdown" multiple=""
                            id="add-multiProcedure">
                            <option value="">Procedure(s)</option>
                            {{#each process}}
                                <option value="{{_id}}">{{processname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="field" id="add-fieldNotes">
                        <label>Notes</label>
                        <textarea id="add-notes"></textarea>
                    </div>
                    <div class="ui grid">
                        <div class="actions column">
                            <div class="ui right floated labeled icon blue button very padded" id="add-save-button">
                                CREATE
                                <i class="checkmark icon"></i>
                            </div>
                            {{!-- <div class="ui red deny button right floated very padded" id="delete-button">
                                DELETE
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- 
    POPUP code for Editing and Deleting
 --}}
    <div id="edit-appointment-modal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Edit Appointment
        </div>
        <div class="ui form">
            <div class="ui very padded grid">
                <div class="six wide column">
                    <div class="required field" id="edit-fieldFirstName">
                        <label>First Name</label>
                        <input type="text" name="firstName" id="edit-firstName" placeholder="First Name">
                    </div>
                    <div class="required field" id="edit-fieldLastName">
                        <label>Last Name</label>
                        <input type="text" name="lastName" id="edit-lastName" placeholder="Last Name">
                    </div>
                    <div class="field" id="edit-fieldContact">
                        <label>Contact</label>
                        <input type="text" name="contact" id="edit-contact" placeholder="Phone">
                    </div>
                    <div class="required field" id="edit-fieldDateCalendar">
                        <label>Date</label>
                        <div class="ui calendar" id="edit-date_calendar">
                            <div class="ui fluid input left icon">
                                <i id="calendaricon" class="calendar icon"></i>
                                <input type="text" id="edit-dateInput" name="dateInput" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="required field" id="edit-fieldTimeCalendar">
                        <label>Time</label>
                        <div class="ui calendar" id="edit-time_calendar">
                            <div class="ui fluid input left icon">
                                <i class="time icon"></i>
                                <input type="text" id="edit-timeInput" name="timeInput" placeholder="Time">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column">
                    <div class="required field" id="edit-fieldDoctors">
                        <label>Doctor(s)</label>
                        <select name="doctors" class="ui fluid selection very long dropdown" multiple=""
                            id="edit-multiDoctor">
                            <option value="">Doctor(s)</option>
                            {{#each doctor}}
                                <option value="{{_id}}">Dr. {{lastname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="required field" id="edit-fieldProcedures">
                        <label>Procedure(s)</label>
                        <select name="procedures" class="ui fluid selection very long dropdown" multiple=""
                            id="edit-multiProcedure">
                            <option value="">Procedure(s)</option>
                            {{#each process}}
                                <option value="{{_id}}">{{processname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="field" id="edit-fieldNotes">
                        <label>Notes</label>
                        <textarea id="edit-notes"></textarea>
                    </div>
                    <div class="ui grid">
                        <div class="actions column">
                            <div class="ui right floated labeled icon green button very padded" id="edit-save-button">
                                SAVE CHANGES
                                <i class="checkmark icon"></i>
                            </div>
                            <div class="ui red button right labeled icon floated very padded" id="edit-delete-button">
                                DELETE
                                <i class="trash alternate icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- For Delete confirmation --}}
    <div class="ui modal second confirmation">
        <div class="header">Confirm Delete</div>
        <div class="content">
            <p>Are you sure you want to delete this appointment?</p>
        </div>
        <div class="actions">
            <div class="ui button" id="edit-continue-button">Continue</div>
            <div class="ui blue button" id="edit-cancel-button">Cancel</div>
        </div>
    </div>


    <script src="/javascript/jquery.js"></script>
    <script src="/semantic/dist/semantic.min.js"> </script>
    <script src="/javascript/handlebars.js"></script>
    <script src="/javascript/moment.js"></script>
    <script src="/javascript/handlebar_extras.js"></script>
    <script src="/javascript/secretary_view.js"></script>
    <script>
        $("#logoutButton").click(function() {
            window.location.href="/logout";
        })
    </script>
</body>

</html>