<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secretary Week View All Appointments</title>
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/secretary_view.css">
</head>

<body>
    <div class="ui top fixed sticky borderless menu" id="main-menu">
        <div class="item ">
            <div class="ui calendar" id="standard_calendar">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time">
                </div>
            </div>
        </div>
        <div class="item ">
            <button class="ui basic button" id="today">
                TODAY
            </button>
        </div>
        <div class="item ">
            <div class="ui icon basic buttons">
                <button class="ui button" id="prev-button">
                    <i class="angle left icon"></i>
                </button>
                <button class="ui button" id="next-button">
                    <i class="angle right icon"></i>
                </button>
            </div>
        </div>
        <div class="item ">
            <span class="ui large text" id="focus-date-header">
                Sep 29 2019 - Oct 5 2019
            </span>
        </div>
        <div class="right borderless menu">
            <div class="item">
                <div class="ui fluid selection dropdown" id="view-chooser">
                    <input type="hidden" name="view">
                    <div class="default text">View</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="day-view">DAY</div>
                        <div class="item" data-value="week-view">WEEK</div>
                    </div>
                </div>
            </div>
            <div class="ui item">
                <div class="ui selection very long dropdown" id="filter-dropdown">
                    <div class="default text">Filter</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="all">APPOINTMENTS
                        </div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            <span class="text">DOCTORS</span>
                            <div class="menu">
                                <div class="item docs-avail" data-value="unav">UNAVAILABLE</div>
                                <div class="item docs-avail" data-value="av">AVAILABLE</div>
                                {{!-- <div class="item" data-value="drone">DR. ONE</div>
                                <div class="item" data-value="drtwo">DR. TWO</div>
                                <div class="item" data-value="drthree">DR. THREE</div> --}}
                                {{#each doctor}}
                                    <div class="item" value="{{_id}}">Dr. {{lastname}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item ">
                <i class="large sign out icon link"></i>
            </div>
        </div>
    </div>
    <div class="ui fluid container" id="schedule-table">
        <table class="ui basic compact fixed celled structured unstackable table">
            <thead id="the-header">

            </thead>
            <tbody id="the-body">

            </tbody>



        </table>
    </div>
    <div class="ui active inverted  dimmer">
        <div class="ui elastic massive green loader"></div>
    </div>


    {{!-- 
    POPUP code
 --}}
    <div id="modal1" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Appointment
        </div>
        <div class="ui very padded grid">
            <div class="six wide column">

                <div class="borderless ui basic label">Last Name:</div>
                <div class="ui fluid input">
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                </div>

                <div class="borderless ui basic label">First Name:</div>
                <div class="ui fluid input">
                    <input type="text" name="firstName" id="firstName" placeholder="First Name">
                </div>


                <div class="row">
                    <div class="borderless ui basic label">Date:</div>
                </div>
                <div class="ui calendar" id="calendar">
                    <div class="ui fluid input left icon">
                        <i id="calendaricon" class="calendar icon"></i>
                        <input type="text" id="dateInput" name="dateInput" placeholder="Date">
                    </div>
                </div>

                <div class="row">
                    <div class="borderless ui basic label">Time:</div>
                </div>
                <div class="ui calendar" id="time_calendar">
                    <div class="ui fluid input left icon">
                        <i class="time icon"></i>
                        <input type="text" id="timeInput" name="timeInput" placeholder="Time">
                    </div>
                </div>



            </div>
            <div class="ten wide column">
                <div class="row">
                    <div class="borderless ui basic label">Doctor(s):</div>
                </div>

                <select name="doctors" class="ui fluid selection very long dropdown" multiple="" id="multiDoctor">
                    <option value="">Doctor(s)</option>
                    <!-- TEMPORARY TEMPLATE YOU MAY ADJUST 
                    
                    -->
                    {{#each doctor}}
                        <option value="{{_id}}">Dr. {{lastname}}</option>
                    {{/each}}
                    {{!-- <option value="randy">Dr. RANDY</option>
                    <option value="hasan">Dr. HASAN</option>
                    <option value="uifer">Dr. UIFER</option>
                    <option value="nevfu">Dr. NEVFU</option>
                    <option value="dejam">Dr. DEJAM</option>
                    <option value="mogvi">Dr. MOGVI</option> --}}

                </select>

                <div class="row">
                    <div class="borderless ui basic label">Procedure(s):</div>
                </div>

                <select name="procedures" class="ui fluid selectiovery long dropdown" multiple="" id="multiProcedure">
                    <option value="">Procedure(s)</option>

                    <!-- TEMPORARY TEMPLATE YOU MAY ADJUST -->
                    {{#each process}}
                        <option value="{{_id}}">{{processname}}</option>
                    {{/each}}
                    

                    {{!-- <option value="removal">Tooth removal</option>
                    <option value="replacement">Tooth replacement</option>
                    <option value="care">Tooth care</option>
                    <option value="daycare">Tooth day care</option>
                    <option value="babysitting">Tooth babysitting</option>
                    <option value="idk">Tooth</option> --}}
                    <!-- Procedures insert here -->

                    <!-- Format is <option value="(value of procedure)"> NAME OF PROCEDURE </option> -->
                </select>

                <div class="row">
                    <div class="borderless ui basic label">Notes:</div>
                </div>

                <div class="ui form">
                    <div class="ui fluid labeled input">
                        <textarea placeholder="Notes" id="notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            {{!-- <div class="ui red deny button" id="delete-button">
                DELETE
            </div> --}}
            <div class="ui positive right labeled icon button" id="save-button">
                SAVE
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <script src="/javascript/jquery.js"></script>
    <script src="/semantic/dist/semantic.min.js"> </script>
    <script src="/javascript/handlebars.js"></script>
    <script src="/javascript/moment.js"></script>
    <script src="/javascript/secretary_view.js"></script>
</body>

</html>